# Copy this file to application-local-secrets.properties and fill your local secrets.
# This file is loaded in dev via spring.profiles.group.dev=local-secrets.

# Local mail sender credentials
spring.mail.username=sauravbirman.ai@gmail.com
spring.mail.password=rxkc rvty dziv jxtu

# Local encryption secret for media (use a long random string)
app.media.encryption-secret=replace-with-a-long-random-blahbalh

# Optional: local Cloudinary test account (only if you want to test cloudinary in dev)
# app.media.cloudinary.cloud-name=
# app.media.cloudinary.api-key=
# app.media.cloudinary.api-secret=
# app.media.cloudinary.folder=citizensync/issues-dev
